Repository CSC207-2022F-UofT/course-project-scramblers, pull requests merged in 2022-11, with the labels that each got.

#32 3-letterrackjava creation
  build.gradle
  src/main/java/CoreEntities/GameParts/LetterRack.java
  src/main/java/CoreEntities/IO/Presenter.java
  src/main/java/CoreEntities/Player/ComputerPlayer.java
  src/main/java/CoreEntities/Player/HumanPlayer.java
  src/main/java/CoreEntities/Player/Player.java
  src/main/java/core_entities/game_parts/LetterRack.java
  src/test/java/core_entities/game_parts/LetterRackTest.java
Labels: enhancement, good first issue

#44 Initial code for placing a word and refilling the LetterRack
  src/main/java/CoreEntities/Player/Player.java
  src/main/java/core_entities/game_parts/Bag.java
  src/main/java/place_word_refill_user_story/PlaceWordInputBoundary.java
  src/main/java/place_word_refill_user_story/PlaceWordRefillController.java
  src/main/java/place_word_refill_user_story/PlaceWordRefillInteractor.java
  src/main/java/place_word_refill_user_story/PlaceWordRefillPresenter.java
  src/main/java/place_word_refill_user_story/PlaceWordRefillRequestModel.java
  src/main/java/place_word_refill_user_story/PlaceWordRefillResponseModel.java
  src/main/java/place_word_refill_user_story/boardChecker.java
  src/main/java/place_word_refill_user_story/letterVerifier.java
  src/main/java/place_word_refill_user_story/tileCollector.java
  src/test/java/core_entities/game_parts/BagTest.java
  src/test/java/place_word_refill_user_story/PlaceWordRefillInteractorTest.java
Labels: User story

#43 This Pull request has the Dictionary in it. It also has the basic frame of the Turn constructor
  .gitignore
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/CoreEntities/IO/DictionaryDataReaderGateway.java
  src/main/java/CoreEntities/IO/TurnBuilderBoundary.java
  src/main/java/CoreEntities/IO/TurnController.java
  src/main/java/CoreEntities/IO/TurnPresenter.java
  src/main/java/core_entities/game_parts/Dictionary.java
  src/main/java/core_entities/game_parts/DictionarySearch.java
  src/main/java/core_entities/game_parts/use_case_turn/ComputerWord.java
  src/main/java/core_entities/game_parts/use_case_turn/ComputerWordBuilder.java
  src/main/java/core_entities/game_parts/use_case_turn/HumanWord.java
  src/main/java/core_entities/game_parts/use_case_turn/HumanWordBuilder.java
  src/main/java/core_entities/game_parts/use_case_turn/TurnBuilder.java
  src/main/java/core_entities/game_parts/use_case_turn/TurnConstructorRecipe.java
  src/main/java/core_entities/game_parts/use_case_turn/TurnLinkWordList.java
  src/main/java/core_entities/game_parts/use_case_turn/WordData.java
  src/main/java/core_entities/game_parts/use_case_turn/WordNode.java
  src/test/java/CoreEntities/IO/DictionaryDataReaderGatewayTest.java
  src/test/java/core_entities/game_parts/DictionarySearchTest.java
  src/test/java/core_entities/game_parts/DictionaryTest.java
  src/test/java/core_entities/game_parts/TestDictionary.txt
Labels: good first issue, Game resource

#65 Controller presenter creation
  build.gradle
  src/main/java/CoreEntities/IO/GameWindow.java
  src/main/java/CoreEntities/IO/Presenter.java
  src/main/java/CoreEntities/IO/ViewController.java
  src/main/java/CoreEntities/IO/ViewPresenter.java
  src/main/java/core_entities/game_parts/LetterRack.java
  src/main/java/io/View.form
  src/main/java/io/View.java
  src/main/java/io/ui/logic/Controller.java
  src/main/java/io/ui/logic/Presenter.java
  src/main/java/io/ui/logic/PresenterViewModelInterface.java
  src/main/java/io/ui/logic/ViewModel.java
  src/main/java/launch_new_game_use_case/LaunchNewGameInteractor.java
  src/test/java/io/ui/logic/ControllerTest.java
  src/test/java/io/ui/logic/ViewModelTest.java
  src/test/java/launch_new_game_use_case/LaunchNewGameInteractorTest.java
  src/test/java/save_and_restart_use_case/ReloadGameInteractorTest.java
  src/test/java/save_and_restart_use_case/SaveGameInteractorTest.java
Labels: good first issue
